apiVersion: v1
kind: Config
clusters:
- name: ${name}
  cluster:
    server: ${cluster_url}
    certificate-authority-data: ${cluster_ca_certificate}
users:
- name: default-user
  user:
    token: ${access_token}
contexts:
- context:
    cluster: ${name}
    user: default-user
  name: default-context
current-context: default-context
